DATABASE_URL=postgresql://postgres.eypnwummtkyvkszcback:Prakash@962641@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres

ADMIN_EMAIL=admin@rizcent.com
ADMIN_PASSWORD=Prakash@962641
AUTH_SECRET=68872754c62aa5fe08a5763cff61077f7ce74d80190d777cdb16edebfc6478f1